* {
    font-family: sans-serif;
    color: white;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 20px 0 20px;
    position: relative;
}

.tittle {
    font-size: larger;
}

.link {
    gap: 50px;
    display: flex;
}

.link a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(203, 203, 203);
    transition: ease-in-out 0.4s;
}

.link a:hover {
    color: white;
}

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(39, 39, 39, 0.616);
    width: 200px;
    transition: width 1s;
}

.search:hover {
    width: 300px;
}


nav .search-icon {
    width: 22px;
    height: 22px;
}
 
nav .search-icon img{
    width: 22px;
    height: 22px;
}

.search-input {
    font-size: 14px;
    color: white;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
}

.box{
    padding: 10px;
    background-color: rgba(39, 39, 39, 0.489);
    border-radius: 20px;
    margin: 20px 0 20px 0;
    max-width: 380px;
    transition: ease-in-out 0.7s;
}

.content .text-left .box:hover{
    width: 300px;
    padding: 25px;
}

.content .text-right .box:hover{
    width: 420px;
    padding: 25px;
}

.content {
    padding: 100px 40px 100px 40px;
    display: flex;
    justify-content: space-between;
}

.content .text-left {
    width: 400px;
}

.content .text-left h1 {
    font-size: 3.5rem;
    margin: 0;
}

.content .text-left .box h2 {
    font-size: 1.5rem;
    margin: 0;
}


.see{
    display: flex;
    align-items: center;
}

.see img{
    width: 22px;
    height: 22px;
}

.content .text-left .see a {
    text-decoration: none;
    color: rgb(203, 203, 203);
    transition: ease-in-out 0.4s;
}

.content .text-left .see a:hover {
    color: white;
}

.content .text-left .box {
    width: 300px;
}

.content .text-right .box h2 {
    text-align: right;
    font-weight: bolder;
    margin: 5px 5px 0 0;
}

.content .text-right .box p {
    text-align: right;
    margin: 5px;
}
